:root {
    --bg-color-get-in-touch: rgb(130, 142, 71);
};
.get-in-touch {
        &-bg {
            background-color: var(--bg-color-projects);
        };
    &-email {
        position: relative;
        display: block;
        color: black;
        font-family: 'Martel', serif;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: .5px;
        border-radius: 1em;
        padding: .3em;
        transition: background-color .5s linear;
        &:hover,
        &:active,
        &:focus,
        &:target {
            background-color: rgb(166, 166, 109);
        };
    };
};