$pillar-rocks: (
    "1": 2s,
    "2": 2.5s,
    "3": 3s,
    "4" : 5s,
    "5" : 5.3s,
    "6" : 5.6s,
    "7" : 5.9s,
    "8" : 6.1s,
    "9" : 6.4s,
    "10" : 6.8s,
    "11" : 7.5s,
    "12" : 8s,
    "13" : 9s
);
$align-rocks: (
    "4" : -258px,
    "5" : -256px,
    "6" : -254px,
    "7" : -252px,
    "8" : -249px,
    "9" : -248px,
    "10" : -245.58px
);
$pillar-leafs-group-animation-start-point: (
    /*by default these leafs paths came in a single group of 3 that were Y vector separated,
      made little changes in comparison to the X one is because of the default setting */
    /* targeting leafs in 8 groups of 3 and these are the properties you see below:
      - transl X start - transl Y start - scale */ 
    "1" "2" "3" -283px -404px .3, 
    "4" "5" "6" -264px -427px .5,
    "7" "8" "9" -243px -433px .4,
    "10" "11" "12" -270px -400px .3, 
    "13" "14" "15" -151px -415px .5,
    "16" "17" "18" -131px -382px .3,
    "19" "20" "21" -106px -410px .4,
    "22" "23" "24" -125px -395px .3,
);
$pillar-leafs-group-animation-end-point: (
    // each leaf in groups of 8 - transl X finish - transl Y finish - scale
    "1" "2" "3" -283px  -20px .3,
    "4" "5" "6" -264px -30px .5,
    "7" "8" "9" -243px -25px .4,
    "10" "11" "12" -270px -15px .3,
    "13" "14" "15" -151px -20px .5,
    "16" "17" "18" -131px -30px .3,
    "19" "20" "21" -106px -25px .4,
    "22" "23" "24" -125px -15px .3,
);
$pillar-leafs-delay: (
    "1": 2s,
    "2": 2.5s,
    "3": 3s,
    "4" : 5s,
    "5" : 5.3s,
    "6" : 5.6s,
    "7" : 5.9s,
    "8" : 6.1s,
    "9" : 6.4s,
    "10" : 6.8s,
    "11" : 7.5s,
    "12" : 8s,
    "13" : 9s,
    "14": 2s,
    "15": 2.5s,
    "16": 3s,
    "17" : 5s,
    "18" : 5.3s,
    "19" : 5.6s,
    "20" : 5.9s,
    "21" : 6.1s,
    "22" : 6.4s,
    "23" : 6.8s,
    "24" : 7.5s,
);
.pillar {
    &-animation {
        &-in {
            path {
                opacity: 0;
                animation: js-rocks-in .3s linear forwards;
            };
            @each $rock, $delay in $pillar-rocks {
                path:nth-child(#{$rock}) {
                    animation-delay: $delay;
                };
            };
        };
        &-align {
            @for $i from 1 to 14 {
                path:nth-child(#{$i}) {
                    transform: translate(-192.25px, -255.58px);
                    transform-origin: 30px 31px;
                    transform-box: fill-box;
                };
            };
            @each $rock, $translateY in $align-rocks {
                path:nth-child(#{$rock}) {
                    animation: rotate-flat-#{$rock} 2s steps(10) 1.5s forwards;
                };
            };
            path:nth-child(3) {
                animation: rock-up 4s steps(10) 2.5s forwards;
            }
            path:nth-child(11) {
                animation: rock-down 4s steps(10) 2.5s forwards;
            };
        };
    };
    &-leafs {
        &-animation {
            @each $middleLeaf, $bottomLeaf, $upperLeaf, $translX, $translY, $scale in $pillar-leafs-group-animation-start-point {
                path:nth-child(#{$middleLeaf}) {
                    transform: translate($translX, $translY) scale($scale);
                    animation: pillar-leaf-fall-#{$middleLeaf} 8s linear infinite;
                };
                path:nth-child(#{$bottomLeaf}) {
                    transform: translate($translX, $translY) scale($scale);
                    animation: pillar-leaf-fall-#{$bottomLeaf} 8s linear infinite;
                };
                path:nth-child(#{$upperLeaf}) {
                    transform: translate($translX, $translY) scale($scale);
                    animation: pillar-leaf-fall-#{$upperLeaf} 8s linear infinite;
                };
            };
            @each $leaf, $delay in $pillar-leafs-delay {
                path:nth-child(#{$leaf}) {
                    animation-delay: $delay;
                };
            };
        };
    };
};

@keyframes js-rocks-in {
    from {
        transform: translate(-192.25px, -265.58px);
        opacity: 0;
    };
    40% {
        opacity: 0;
    };
    50% {
        opacity: 1;
    };
    to {
        transform: translate(-192.25px, -255.58px);
        opacity: 1;
    };
};

@keyframes rock-up {
    from {
        transform: translate(-192.25px, -255.58px);
    };
    40% {
        transform: translate(-192.25px, -262px);
    };
    41% {
        transform: translate(-192.25px, -262px);
        opacity: 1;
    };
    42%,
    to {
        opacity: 0;
        transform: translate(-192.25px, -262px);
    } ;
};

@keyframes rock-down {
    from {
        transform: translate(-192.25px, -255.58px);
    };
    40% {
        transform: translate(-192.25px, -249.58px);
    };
    41% {
        opacity: 1;
    };
    42%,
    100%{
        opacity: 0;
        transform: translate(-192.25px, -249.58px);
    };
};

@each $rock, $translateY in $align-rocks {

    @keyframes rotate-flat-#{$rock} {
        from {
            transform: translate(-192.25px, -255.58px) rotate(0deg);
        };
        to {
            transform: translate(-195px, $translateY) rotate(20deg) scale(1.1);
        };
    };
};

@each $middleLeaf, $bottomLeaf, $upperLeaf, $translX, $translY, $scale in $pillar-leafs-group-animation-end-point {
    @keyframes pillar-leaf-fall-#{$middleLeaf} {
        from {
            opacity: .5;
        };
        10% {
            opacity: 1;
        };
        to {
            opacity: 1;
            transform: translate($translX, $translY) scale($scale);
        };
    };
    @keyframes pillar-leaf-fall-#{$bottomLeaf} {
        from {
            opacity: .5;
        };
        10% {
            opacity: 1;
        };
        to {
            opacity: 1;
            transform: translate($translX, $translY) scale($scale);
        };
    };
    @keyframes pillar-leaf-fall-#{$upperLeaf} {
        from {
            opacity: .5;
        }
        10% {
            opacity: 1;
        }
        to {
            opacity: 1;
            transform: translate($translX, $translY) scale($scale);
        };
    };
};