$pillar-rocks: (
    "1": 2s,
    "2": 2.5s,
    "3": 3s,
    "4" : 5s,
    "5" : 5.3s,
    "6" : 5.6s,
    "7" : 5.9s,
    "8" : 6.1s,
    "9" : 6.4s,
    "10" : 6.8s,
    "11" : 7.5s,
    "12" : 8s,
    "13" : 9s
);
$align-rocks: (
    "4" : -258px,
    "5" : -256px,
    "6" : -254px,
    "7" : -252px,
    "8" : -249px,
    "9" : -248px,
    "10" : -245.58px
);
$pillar-leafs-group-animation-start-point: (
    /*by default these leafs paths came in a single group of 3 that were Y vector separated,
      made little changes in comparison to the X one is because of the default setting */
    /* targeting leafs in 8 groups of 3 and these are the properties you see below:
      - transl X start - transl Y start - scale */ 
    "1" "2" "3" -283px -404px .3, 
    "4" "5" "6" -264px -427px .5,
    "7" "8" "9" -243px -433px .4,
    "10" "11" "12" -270px -400px .3, 
    "13" "14" "15" -151px -415px .5,
    "16" "17" "18" -131px -382px .3,
    "19" "20" "21" -106px -410px .4,
    "22" "23" "24" -125px -395px .3,
);
$pillar-leafs-group-animation-end-point: (
    // each leaf in groups of 8 - transl X finish - transl Y finish - scale
    "1" "2" "3" -283px  -20px .3,
    "4" "5" "6" -264px -30px .5,
    "7" "8" "9" -243px -25px .4,
    "10" "11" "12" -270px -15px .3,
    "13" "14" "15" -151px -20px .5,
    "16" "17" "18" -131px -30px .3,
    "19" "20" "21" -106px -25px .4,
    "22" "23" "24" -125px -15px .3,
);
$pillar-leafs-delay: (
    "1": 2s,
    "2": 2.5s,
    "3": 3s,
    "4" : 5s,
    "5" : 5.3s,
    "6" : 5.6s,
    "7" : 5.9s,
    "8" : 6.1s,
    "9" : 6.4s,
    "10" : 6.8s,
    "11" : 7.5s,
    "12" : 8s,
    "13" : 9s,
    "14": 2s,
    "15": 2.5s,
    "16": 3s,
    "17" : 5s,
    "18" : 5.3s,
    "19" : 5.6s,
    "20" : 5.9s,
    "21" : 6.1s,
    "22" : 6.4s,
    "23" : 6.8s,
    "24" : 7.5s,
);
.pillar {
    position: relative;
    z-index: 10;
    display: block;
    fill: #4c575b;
    stroke: transparent;
    &-animation {
        &-in {
            path {
                opacity: 0;
                animation: js-rocks-in .3s linear forwards;
            }
            @each $rock, $delay in $pillar-rocks {
                path:nth-child(#{$rock}) {
                    animation-delay: $delay;
                }
            }
        }
        &-align {
            path {
                transform: translate(-192.25px, -255.58px);
                transform-origin: 30px 31px;
                transform-box: fill-box;
            }
            @each $rock, $translateY in $align-rocks {
                path:nth-child(#{$rock}) {
                    animation: rotate-flat-#{$rock} 2s steps(10) 1.5s forwards;
                }
            }
            path:nth-child(3) {
                animation: rock-up 4s steps(10) 2.5s forwards;
            }
            path:nth-child(11) {
                animation: rock-down 4s steps(10) 2.5s forwards;
            }
        }
        // &-flip-left {
        //     animation: flip-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        // }
    }
    // &-leafs {
    //     stroke: #c1c19a;
    //     stroke-width: .5;
    //     fill: #acac78;
    //     path {
    //         transform-origin: 10px 10px;
    //         transform-box: fill-box;
    //         opacity: 0;
    //     }
    //     @each $middleLeaf, $bottomLeaf, $upperLeaf, $translX, $translY, $scale in $pillar-leafs-group-animation-start-point {
    //         path:nth-child(#{$middleLeaf}) {
    //             transform: translate($translX, $translY) scale($scale);
    //             animation: pillar-leaf-fall-#{$middleLeaf} 8s linear infinite;
    //         }
    //         path:nth-child(#{$bottomLeaf}) {
    //             transform: translate($translX, $translY) scale($scale);
    //             animation: pillar-leaf-fall-#{$bottomLeaf} 8s linear infinite;
    //         }
    //         path:nth-child(#{$upperLeaf}) {
    //             transform: translate($translX, $translY) scale($scale);
    //             animation: pillar-leaf-fall-#{$upperLeaf} 8s linear infinite;
    //         }
    //     }
    //     @each $leaf, $delay in $pillar-leafs-delay {
    //         path:nth-child(#{$leaf}) {
    //             animation-delay: $delay;
    //         }
    //     }
    // }
    &-banner {
        display: block;
        x: 4.1em;
        y: -4em;
        opacity: 0;
        &-animation {
            animation: banner-drop 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        }
    }
    &-holder {
        display: block;
        width: 100%;
        fill: var(--color-fill);
        stroke: black;
        stroke-width: 20;
        opacity: 0;
        &-1 {
            x: 3.9em;
            y: -0.5em;
            --color-fill: #588a41;
            // &-animation {
            //     animation: holder-1 1s ease-out 2s both;
            // }
        }   
        &-2 {
            x: -9.2em;
            y: -18.7em;
            rotate: 181deg;
            --color-fill: #71c486;
            // &-animation {
            //     animation: holder-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 7.5s both;
            // }
        }   
    }
    &-scroll {
        &-1 {
            display: block;
            x: 4.2em;
            y: 12em;
            stroke-width: 1.9;
            --color-plants: #71c486; //#198410
            opacity: 0;
            // &-animation {
            //     animation: scrolls-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 7.5s both;
            // }
            &-plants {
                fill: var(--color-plants);
                stroke-width: 2;
                stroke: black;
                &-spots {
                    fill: transparent;
                }
            }
            &-main {
                fill: white;
                stroke: #000;
                stroke-width: 4;
            }
            &-right-dots {
                fill: #d7d2c2;
            }
            &-sides {
                fill: white;
                stroke: black;
                stroke-width: 1;
            }
        }
        &-2 {
            display: block;
            x: 4.55em;
            y: 7.7em;
            opacity: 0;
            // &-animation {
            //     animation: scrolls-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5.5s both;
            // }
            &-all {
                fill: #0d1046; //#187e0f
                stroke: black;
            }
            &-spaces {
                fill: transparent;
            }
            &-blooms {
                fill: #7fbeb9; //#a8a82a #c0c21a
            }
            &-main {
                fill: white;
            }
        }
        &-3 {
            x: 5.9em;
            y: 4.5em;
            scale: .8;
            --color-plants: #598a42;
            opacity: 0;
            // &-animation {
            //     animation: scrolls-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4.5s both;
            // }
        }
    }
    &-text {
        opacity: 0;
        // &-about-me {
        //     animation: about-me-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4.5s both;
        // }
        // &-projects {
        //     animation: projects-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5.5s both;
        // }
        // &-get-in-touch {
        //     animation: get-in-touch-in .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 7.5s both;
        // }
    }
}

@keyframes js-rocks-in {
    from {
        transform: translate(-192.25px, -265.58px);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translate(-192.25px, -255.58px);
        opacity: 1;
    }
}

@keyframes rock-up {
    from {
        transform: translate(-192.25px, -255.58px);
    }   
    40% {
        transform: translate(-192.25px, -262px);
    }
    41% {
        transform: translate(-192.25px, -262px);
        opacity: 1;
    }
    42%,
    to {
        opacity: 0;
        transform: translate(-192.25px, -262px);
    } 
}

@keyframes rock-down {
    from {
        transform: translate(-192.25px, -255.58px);
    }   

    40% {
        transform: translate(-192.25px, -249.58px);
    }
    41% {
        opacity: 1;
    }
    42%,
    100%{
        opacity: 0;
        transform: translate(-192.25px, -249.58px);
    }
}

@each $rock, $translateY in $align-rocks {

    @keyframes rotate-flat-#{$rock} {
        from {
            transform: translate(-192.25px, -255.58px) rotate(0deg);
        }
        to {
            transform: translate(-195px, $translateY) rotate(20deg) scale(1.1);
        }
    }
}

@each $middleLeaf, $bottomLeaf, $upperLeaf, $translX, $translY, $scale in $pillar-leafs-group-animation-end-point {
    @keyframes pillar-leaf-fall-#{$middleLeaf} {
        from {
            opacity: .5;
        }
        10% {
            opacity: 1;
        }
        to {
            opacity: 1;
            transform: translate($translX, $translY) scale($scale);
        }
    }
    @keyframes pillar-leaf-fall-#{$bottomLeaf} {
        from {
            opacity: .5;
        }
        10% {
            opacity: 1;
        }
        to {
            opacity: 1;
            transform: translate($translX, $translY) scale($scale);
        }
    }
    @keyframes pillar-leaf-fall-#{$upperLeaf} {
        from {
            opacity: .5;
        }
        10% {
            opacity: 1;
        }
        to {
            opacity: 1;
            transform: translate($translX, $translY) scale($scale);
        }
    }
}

@keyframes banner-drop {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

  @keyframes holder-1 {
    0% {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
      }
  }
  
  @keyframes scrolls-in {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
@keyframes about-me-in {
    0% {
        -webkit-transform: translate(8.5em, 9.1em) translateZ(-80px);
                transform: translate(8.5em, 9.1em) translateZ(-80px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(8.5em, 9.1em) translateZ(0);
                transform: translate(8.5em, 9.1em) translateZ(0);
        opacity: 1;
      }
}

@keyframes projects-in {
    0% {
        -webkit-transform: translate(8.8em, 16.2em) translateZ(-80px);
                transform: translate(8.8em, 16.2em) translateZ(-80px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(8.8em, 16.2em) translateZ(0);
                transform: translate(8.8em, 16.2em) translateZ(0);
        opacity: 1;
      }
}

@keyframes get-in-touch-in {
    0% {
        -webkit-transform: translate(7.7em, 23.75em) translateZ(-80px);
                transform: translate(7.7em, 23.75em) translateZ(-80px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(7.7em, 23.75em) translateZ(0);
                transform: translate(7.7em, 23.75em) translateZ(0);
        opacity: 1;
      }
}

  @keyframes holder-2 {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

// @keyframes flip-left {
//     0% {
//       -webkit-transform: rotateY(0);
//               transform: rotateY(0);
//       opacity: 1;
//     }
//     100% {
//       -webkit-transform: rotateY(-70deg);
//               transform: rotateY(-70deg);
//       opacity: 0;
//     }
// }