:root {
    --about-me-animation: waiting-js;
    --about-me-back-in-animation: waiting-js;
    --about-me-after-flip-grow: waiting-js;

    --projects-animation: waiting-js;
    --projects-back-in-animation: waiting-js;
    --projects-after-flip-grow: waiting-js;

    --get-in-touch-animation: waiting-js;
    --get-in-touch-back-in-animation: waiting-js;
    --get-in-touch-after-flip-grow: waiting-js;
}

.index {
    &-color {
        &-about-me {
            animation: bg-color-about-me 2s ease-in 1s both;
        }
        &-projects {
            animation: bg-color-projects 2s ease-in 1s both;
        }
        &-get-in-touch {
            animation: bg-color-get-in-touch 2s ease-in 1s both;
        }
    }
}
.pillar {
    &-banner-animation {
        animation: banner-drop 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
    };
    &-holder {
        &-1-animation {
                animation: holder-1 1s ease-out 2s both;
        };
        &-2-animation {
                animation: holder-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
        };
    };
    &-scroll {
        &-about-me {
            &-animation {
                animation: about-me-scroll-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both,
                var(--about-me-animation) 2s ease-in-out both,
                var(--about-me-back-in-animation) 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s forwards,
                var(--about-me-after-flip-grow) 2s linear 1.4s forwards;
            };
        };
        &-projects {
            &-animation {
                animation: scrolls-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4.5s both,
                var(--projects-animation) 2s ease-in-out both,
                var(--projects-back-in-animation) 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s forwards,
                var(--projects-after-flip-grow) 2s linear 1.4s forwards;
            };
        };
        &-get-in-touch {
            &-animation {
                animation: scrolls-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both,
                var(--get-in-touch-animation) 2s ease-in-out forwards,
                var(--get-in-touch-back-in-animation) 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s forwards,
                var(--get-in-touch-after-flip-grow) 2s linear 1.4s forwards;
            };
        };
    };
    &-text {
        opacity: 0;
        &-about-me {
            animation: text-about-me-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both,
            var(--about-me-animation) 2s ease-in-out both,
            var(--about-me-back-in-animation) 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s forwards,
            var(--about-me-after-flip-grow) 2s linear 1s forwards;
        };
        &-projects {
            animation: text-projects-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4.5s both,
            var(--projects-animation) 2s ease-in-out both,
            var(--projects-back-in-animation) 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s forwards,
            var(--projects-after-flip-grow) 1.2s linear 1s forwards;
        };
        &-get-in-touch {
            animation: text-get-in-touch-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both,
            var(--get-in-touch-animation) 2s ease-in-out both,
            var(--get-in-touch-back-in-animation) 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s forwards,
            var(--get-in-touch-after-flip-grow) 3s linear 1s forwards;
        };
    };
    &-out-animation {
        animation: flip-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    };
}

@keyframes bg-color-about-me {
    from {
        background-color: #a6a66db0;
    }
    to {
        background-color: rgb(130, 142, 71);
    }
}
@keyframes bg-color-projects {
    from {
        background-color: #a6a66db0;
    }
    to {
        background-color: rgb(130, 142, 71);
    }
}
@keyframes bg-color-get-in-touch {
    from {
        background-color: #a6a66db0;
    }
    to {
        background-color: rgba(166, 166, 109, 0.9);
    }
}


@keyframes banner-drop {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    };
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    };
  };

  @keyframes holder-1 {
    0% {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
        opacity: 0;
      };
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
      };
  };
  
  @keyframes scrolls-in {
    0% {
        transform-origin: center center;
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    };
    100% {
        transform-origin: center center;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
      cursor: pointer;
    };
  };
  @keyframes about-me-scroll-in {
    0% {
        transform-origin: center center;
      -webkit-transform: scale(.8) translateZ(-80px);
              transform: scale(.8) translateZ(-80px);
      opacity: 0;
    };
    100% {
        transform-origin: center center;
      -webkit-transform: scale(.8) translateZ(0);
              transform: scale(.8) translateZ(0);
      opacity: 1;
      cursor: pointer;
    };
  };
@keyframes text-about-me-in {
    0% {
        transform-origin: center center;
        -webkit-transform: translate(7.05em, 6.05em) scale(.8) translateZ(-80px);
                transform: translate(7.05em, 6.05em) scale(.8) translateZ(-80px);
        opacity: 0;
      };
      100% {
        transform-origin: center center;
        -webkit-transform: translate(7.05em, 6.05em) scale(.8) translateZ(0);
                transform: translate(7.05em, 6.05em) scale(.8) translateZ(0);
        opacity: 1;
        cursor: pointer;
      };
};

@keyframes text-projects-in {
    0% {
        transform-origin: center center;
        -webkit-transform: translate(9em, 16.3em) translateZ(-80px);
                transform: translate(9em, 16.3em) translateZ(-80px);
        opacity: 0;
      };
      100% {
        transform-origin: center center;
        -webkit-transform: translate(9em, 16.3em) translateZ(0);
                transform: translate(9em, 16.3em) translateZ(0);
        opacity: 1;
        cursor: pointer;
      };
};

@keyframes text-get-in-touch-in {
    0% {
        transform-origin: center center;
        -webkit-transform: translate(8em, 23.75em) translateZ(-80px);
                transform: translate(8em, 23.75em) translateZ(-80px);
        opacity: 0;
    };
    100% {
    transform-origin: center center;
    -webkit-transform: translate(8em, 23.75em) translateZ(0);
            transform: translate(8em, 23.75em) translateZ(0);
    opacity: 1;
    cursor: pointer;
    };
};

  @keyframes holder-2 {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    };
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    };
  };

  @keyframes grow-hover {
    from {
        scale: 1;
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
      };
      10% {
        scale: 0.95;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
      };
      17% {
        scale: 0.99;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      };
      33% {
        scale: 0.92;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      };
      45% {
        scale: 1;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
      };
  };
  
  @keyframes footer-soil {
    from {
        background-position: 1% 0%;
    };
    80% {
        background-position: 80% 100%;
    };
    90% {
        background-position: 80% 100%;
        border-top: 8px double #acac78;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
    };
    to {
        background-position: 100% 100%;
        border-top: 8px double #acac78;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        background-size: 200% 250%;
    };
};
@keyframes flip-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      visibility: visible;
    };
    99% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      visibility: hidden;
    };
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        visibility: hidden;
    };
};
@keyframes flip-right-scroll {
    0% {
        -webkit-transform: rotateY(80deg) translateZ(0);
                transform: rotateY(80deg) translateZ(0);
      };
      100% {
        -webkit-transform: rotateY(0) translateZ(0);
                transform: rotateY(0) translateZ(0);
        visibility: visible;
        cursor: default;
      };
};
@keyframes flip-right-scroll-about-me {
    0% {
        -webkit-transform: rotateY(80deg) scale(.8) translateZ(0);
                transform: rotateY(80deg) scale(.8) translateZ(0);
      };
      100% {
        -webkit-transform: rotateY(0) scale(.8) translateZ(0);
                transform: rotateY(0) scale(.8) translateZ(0);
        visibility: visible;
        cursor: default;
      };
};
@keyframes flip-right-text-about-me {
    0% {
        transform-origin: center center;
        -webkit-transform: translate(7.05em, 6.05em) scale(.8) translateZ(0);
                transform: translate(7.05em, 6.05em) scale(.8) translateZ(0);
      };
      100% {
        transform-origin: center center;
        -webkit-transform: translate(7.05em, 6.05em) scale(.8) translateZ(0);
                transform: translate(7.05em, 6.05em) scale(.8) translateZ(0);
        visibility: visible;
        cursor: default;
      };
};
@keyframes flip-right-text-projects {
    0% {
        transform-origin: center center;
        -webkit-transform: translate(9em, 16.3em) translateZ(0);
                transform: translate(9em, 16.3em) translateZ(0);
      };
      100% {
        transform-origin: center center;
        -webkit-transform: translate(9em, 16.3em) translateZ(0);
                transform: translate(9em, 16.3em) translateZ(0);
        visibility: visible;
        cursor: default;
      };
};
@keyframes flip-right-text-get-in-touch {
    0% {
        transform-origin: center center;
        -webkit-transform: translate(8em, 23.75em) translateZ(0);
                transform: translate(8em, 23.75em) translateZ(0);
      };
      100% {
        transform-origin: center center;
        -webkit-transform: translate(8em, 23.75em) translateZ(0);
                transform: translate(8em, 23.75em) translateZ(0);
        visibility: visible;
        cursor: default;
      };
};
@keyframes scroll-after-right-about-me {
    0% {
        transform-origin: center center;
        -webkit-transform: scale(.8) rotateY(0) translateZ(0);
        transform: scale(.8) rotateY(0) translateZ(0);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
    50%,
    100% {
        transform-origin: center center;
        transform: scale(1.5) rotateY(0) translateZ(0);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;

    }
}
@keyframes text-after-right-about-me {
    0% {
        -webkit-filter: blur(0.01);
                filter: blur(0.01);
      }
      100% {
        -webkit-filter: blur(12px) opacity(0%);
                filter: blur(12px) opacity(0%);
      }
}

@keyframes scroll-after-right-projects {
    0% {
        transform-origin: center center;
        -webkit-transform: rotateY(0) translateZ(0);
        transform: rotateY(0) translateZ(0);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        x: 4.55em;
        y: 7.7em;
    }
    50%,
    100% {
        transform-origin: center center;
        transform: scale(1.5) rotateY(0) translateZ(0);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        x: 4.55em;
        y: 7.7em;
    }
}
@keyframes text-after-right-projects {
    0% {
        -webkit-filter: blur(0.01);
                filter: blur(0.01);
      }
      100% {
        -webkit-filter: blur(12px) opacity(0%);
                filter: blur(12px) opacity(0%);
      }
}


@keyframes scroll-after-right-get-in-touch {
    0% {
        transform-origin: center center;
        -webkit-transform: rotateY(0) translateZ(0);
        transform: rotateY(0) translateZ(0);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
    50%,
    100% {
        transform-origin: center center;
        transform: scale(1.5) rotateY(0) translateZ(0);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        x: 4.2em;
        y: 10em;
    }
}
@keyframes text-after-right-get-in-touch {
    0% {
        -webkit-filter: blur(0.01);
                filter: blur(0.01);
    }
      100% {
        -webkit-filter: blur(12px) opacity(0%);
                filter: blur(12px) opacity(0%);
      }
}

