$pillar-leaf-colors: (
    "1": #588a41,
    "2": #77a377,
    "3": #3f573f
);
$pillar-rocks: (
    "1": 2s,
    "2": 2.5s,
    "3": 3s,
    "4" : 5s,
    "5" : 5.3s,
    "6" : 5.6s,
    "7" : 5.9s,
    "8" : 6.1s,
    "9" : 6.4s,
    "10" : 6.8s,
    "11" : 7.5s,
    "12" : 8s,
    "13" : 9s
);
$align-rocks: (
    "4" : -258px,
    "5" : -256px,
    "6" : -254px,
    "7" : -252px,
    "8" : -249px,
    "9" : -248px,
    "10" : -245.58px
);

.pillar {
    position: relative;
    z-index: 10;
    display: block;
    fill: #4c575b;
    stroke: transparent;
    // &-g {
    //     transform: translate(-192.25px, -255.58px);
    // }
    &-animation {
        &-in {
            path {
                opacity: 0;
                animation: js-rocks-in .3s linear forwards;
            }
            @each $rock, $delay in $pillar-rocks {
                path:nth-child(#{$rock}) {
                    animation-delay: $delay;
                }
            }
        }
        &-align {
            path {
                transform: translate(-192.25px, -255.58px);
                transform-origin: 30px 31px;
                transform-box: fill-box;
            }
            @each $rock, $translateY in $align-rocks {
                path:nth-child(#{$rock}) {
                    animation: rotate-flat-#{$rock} 2s steps(10) 1.5s forwards;
                }
            }
            path:nth-child(3) {
                animation: rock-up 4s steps(10) 2.5s forwards;
            }
            path:nth-child(11) {
                animation: rock-down 4s steps(10) 2.5s forwards;
            }
        }
        &-flip-left {
            animation: flip-left 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
    }
    &-leafs {
        stroke: #fff;
        stroke-width: .5;
        transform: translate(-192.25px, -255.58px);
        @each $leaf, $color in $pillar-leaf-colors {
            path:nth-child(#{$leaf}) {
                fill: $color;
            }
        }
    }
    &-banner {
        display: block;
        x: 4.1em;
        y: -4em;
    }
    &-holder {
        display: block;
        width: 100%;
        fill: #588a41;
        stroke: black;
        stroke-width: 20;
        &-1 {
            x: 3.9em;
            y: -0.5em;
        }   
        &-2 {
            x: -9.2em;
            y: -18.7em;
            rotate: 181deg;
        }   
    }
    &-scroll {
        &-1 {
            display: block;
            x: 4.2em;
            y: 12em;
            stroke-width: 1.9;
            --color-plants: #198410;
            &-plants {
                fill: var(--color-plants);
                stroke-width: 2;
                stroke: black;
                &-spots {
                    fill: transparent;
                }
            }
            &-main {
                fill: white;
                stroke: #000;
                stroke-width: 4;
            }
            &-right-dots {
                fill: #d7d2c2;
            }
            &-sides {
                fill: white;
                stroke: black;
                stroke-width: 1;
            }
        }
        &-2 {
            display: block;
            x: 4.55em;
            y: 7em;
            &-all {
                fill: #0d1046; //#187e0f
                stroke: black;
            }
            &-spaces {
                fill: transparent;
            }
            &-blooms {
                fill: #7fbeb9; //#a8a82a #c0c21a
            }
            &-main {
                fill: white;
            }
        }
        &-3 {
            x: 5.9em;
            y: 4.5em;
            scale: .8;
            --color-plants: black;
        }
    }
}

@keyframes js-rocks-in {
    from {
        transform: translate(-192.25px, -265.58px);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translate(-192.25px, -255.58px);
        opacity: 1;
    }
}

@keyframes rock-up {
    from {
        transform: translate(-192.25px, -255.58px);
    }   
    40% {
        transform: translate(-192.25px, -262px);
    }
    41% {
        transform: translate(-192.25px, -262px);
        opacity: 1;
    }
    42%,
    to {
        opacity: 0;
        transform: translate(-192.25px, -262px);
    } 
}

@keyframes rock-down {
    from {
        transform: translate(-192.25px, -255.58px);
    }   

    40% {
        transform: translate(-192.25px, -249.58px);
    }
    41% {
        opacity: 1;
    }
    42%,
    100%{
        opacity: 0;
        transform: translate(-192.25px, -249.58px);
    }
}

@each $rock, $translateY in $align-rocks {

    @keyframes rotate-flat-#{$rock} {
        from {
            transform: translate(-192.25px, -255.58px) rotate(0deg);
        }
        to {
            transform: translate(-195px, $translateY) rotate(20deg) scale(1.1);
        }
    }
}

@keyframes flip-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      opacity: 0;
    }
}