:root {
    --email-success-icon: waiting-js;
    --email-out: waitin-js;
}

.footer-soil-animation {
    animation: footer-soil 4s linear forwards;
};
.icons-footer-in {
    &-animation {
        animation: footer-icon 3s linear forwards;
    }
}
.email-success {
    animation: var(--email-success-icon) .5s ease-in forwards;
}
.email {
    animation: var(--email-out) .5s ease-in 1s forwards;
}
@keyframes footer-soil {
    from {
        background-position: 1% 0%;
        opacity: 0;
    };
    80% {
        background-position: 80% 100%;
    };
    90% {
        background-position: 80% 100%;
        border-top: 8px double #acac78;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
    };
    to {
        background-position: 100% 100%;
        border-top: 8px double #acac78;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        background-size: 200% 250%;
        opacity: 1;
    };
};
@keyframes footer-icon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes email-success-icon-in {
    0% {
        opacity: 0;
        transform: scale(0);
        bottom: 4.3em;;
        left: 10em;

    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        padding-right: 6.5em;
        bottom: 4.3em;
        left: 1.5em;
    }
}
@keyframes email-success-icon-out {
    0% {
        transform: scale(1);
        opacity: 1;
        padding-right: 6.5em;
        bottom: 4.3em;
        left: 1.5em;
    }
    100% {
        bottom: 2em;
        left: 0em;
        padding-right: 6.5em;
        opacity: 0;
    }
}
@keyframes email-out {
    0% {
        transform: translate(0em, 0em) scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-2em, 1em) scale(0);
        opacity: 0;
    }
}