$pillar-leaf-colors: (
    "1": #588a41,
    "2": #77a377,
    "3": #3f573f
);
$pillar-rocks: (
    "1": 2s,
    "2": 2.5s,
    "3": 3s,
    "4" : 5s,
    "5" : 5.3s,
    "6" : 5.6s,
    "7" : 5.9s,
    "8" : 6.1s,
    "9" : 6.4s,
    "10" : 6.8s,
    "11" : 7.5s,
    "12" : 8s,
    "13" : 9s
);


.pillar {
    position: relative;
    z-index: 10;
    width: 51%;
    fill: #4c575b;
    &-all {
        stroke: transparent;
        &-animation {
            path {
                opacity: 0;
                animation: js-rocks-in .5s linear forwards;
            }
            @each $rock, $delay in $pillar-rocks {
                path:nth-child(#{$rock}) {
                    animation-delay: $delay;
                }
            }
        }
    }
    &-leafs {
        stroke: #fff;
        stroke-width: .5;
        transform: translate(-250.25px, -255.58px);
        @each $leaf, $color in $pillar-leaf-colors {
            path:nth-child(#{$leaf}) {
                fill: $color;
            }
        }
    }
    &-banner {
        position: absolute;
        &-1 {
            transform: translate(0.4em, 31em) scale(.876);
        }
    }
}

@keyframes js-rocks-in {
    from {
        transform: translate(-250.25px, -275.58px);
        opacity: 0;
    }
    10% {
        opacity: .5;
    }
    20% {
        opacity: 1;
    }
    to {
        transform: translate(-250.25px, -255.58px);
        opacity: 1;
    }
}