.footer-soil {
    opacity: 0;
    position: relative;
    background-image: linear-gradient(to top, #5e5634, #c0c19a);
    height: 80px;
    background-size: 200% 200%;
};

.icon-mail {
    opacity: 0;
    &:hover {
        ~ .email {
            transform: scale(1);
        };
    };
    &:active,
    &:focus,
    &:target {
        ~ .email {
            transform: scale(1);
        };
    };
    &-g {
        transform: translate(-10.25em, -16em) scale(0.6);
        &:hover,
        &:active,
        &:focus,
        &:target {
            .icon-mail-path {
                fill:#a6a66d;
            }
            .icon-mail-ellipse {
                fill:#5e56347c;
            };
        };
    };
    &-ellipse {
        fill: transparent;
        transition: fill .5s linear;
        transform: translate(6em, 8.5em) scale(0.75);
    };
    &-path {
        fill:#c1c19a;
        transition: fill .5s linear;
        transform: translate(-560.2px, 271.9px);
    };
};
.relative {
    position: relative;
};
.email {
    display: block;
    position: absolute;
    bottom: 3.4em;
    left: 1em;
    font-size: .8rem;
    transform: scale(0);
    transition: transform .2s linear .2s;
    padding: .1em .5em;
    background-color: #c1c19a;
    font-family: 'Kadwa', serif;
    white-space: nowrap;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    &:hover,
    &:focus,
    &:target {
        transform: scale(1);
    };
    &:active {
        transform: scale(1);
    };
};
.icon-linkedin {
    transform: scale(0.8);
    opacity: 0;
    &-path {
        fill:#c1c19a;
        transition: fill .5s linear;
    }
    &-svg {
        &:hover,
        &:active,
        &:focus,
        &:target {
            .icon-linkedin-path {
                fill: #a6a66d;
            };
        };
    };
};
.icon-cv {
    transform: scale(0.9);
    opacity: 0;
    &-path {
        fill:#c1c19a;
        transition: fill 1s linear;
    }
    &-svg {
        &:hover,
        &:active,
        &:focus,
        &:target {
            .icon-cv-path {
                fill: #FFF;
            };
        };
    };
};