.position {
    position: absolute;
    top: 67vw;
    text-align: center;
    z-index: 4000;
    &-name {
        padding-right: 7em;
    }
    &-lastName {
        padding-left: 3em;
    }
}