.name-position {
    position: absolute;
    top: 67vw;
    text-align: left;
    padding-left: 12vw;
    z-index: 4000;
}
.lastName-position {
    position: absolute;
    top: 67vw;
    text-align: right;
    padding-right: 20vw;
    z-index: 4000;
}