$animation-delays: (
    "4" : 3s,
    "5" : 4s,
    "6" : 5s,
    "7" : 6s,
    "8" : 7s,
    "9" : 8s,
    "10" : 9s,
    "11" : 10s,
    "12" : 11s,
    "13" : 12s,
    "14" : 13s,
    "15" : 14s,
    "16" : 15s,
    "17" : 16s,
    "18" : 17s);
    
.tree {
    width: 100%;
    margin: 0 auto 0 0;
    display: block;
    position: relative;
    z-index: 3000;    
    .bushes {     
        @each $path, $delay in $animation-delays {
            path:nth-child(#{$path}) {
                animation-delay: $delay;
            } 
        }
        path{
            transform-origin: 30px 25px;
            transform-box: fill-box;
            animation: tree-bushes-motion 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
        }
    }
}

.squirrel-right {
    transform-origin: 2em 2em;
    transform-box: fill-box;
    animation-name: right-squirrel-show, right-squirrel-goes-up; 
    animation-duration: 20s;  // initial animation is 1s duration plus 1.5s stand by then goes pause. second is .6s animation kicks in at 2.5s then pauses.
    animation-iteration-count: infinite;
    animation-timing-function: linear, cubic-bezier(0.250, 0.460, 0.450, 0.940);
    // animation-delay: 5s, 7.5s;
    animation-fill-mode: forwards; 
}

.squirrel-left {   
    transform-origin: 2em 2em;
    transform-box: fill-box;
    // animation-name: left-squirrel-show, left-squirrel-goes-up;
    animation-duration: 1.5s, 0.5s; // there's 1 second delay between right squirrel hiding and left squirrel making its first apparition. Initial animataion is 1.5s then stands by 2.5s then pauses, second animation is .5s.
    animation-iteration-count: 1;
    animation-timing-function: linear, cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-delay: 0s, 2.5s;//8.5s, 11s;
    animation-fill-mode: forwards; 
}

.leafs {
    position: relative;
    bottom: 96vw;
    g {
        z-index: 0;
        position: relative;
        animation: leaf-falling 4s linear 10s infinite;
        opacity: 0;
        path {
        transform-origin: 11.5px 11.5px;
        transform-box: fill-box;
            animation: leaf-motion 4s linear 5s infinite;
        }
        rect {
            opacity: 0;
        }
    }
}

#group-2 {
    animation: falling 4s linear 7s infinite;
}

@keyframes right-squirrel-goes-up {
    10.5% {
      transform: translate(5.5em, 7.7em) scale(0.8);
      opacity: 1;
    }
    10.95% {
        transform: translate(5.5em, 7.3em) scale(0.8);
        animation-timing-function: ease-in;
    }
    11.4% {
        transform: translate(5.5em, 7.7em) scale(0.8);
        animation-timing-function: ease-out;
    }
    12.3% {
        transform: translate(4em, 7em) scale(0.8) rotate(-13deg);
        opacity: 1;
    }
    12.9% {
      opacity: .4;
    }
    13.5% {
      transform: translate(2.5em, 6em) scale(0.6) rotate(-13deg);
      opacity: 0;
    }
    13.5%,
    100% {
        opacity: 0;
    }
  }

@keyframes right-squirrel-show {
    0% {
        transform: translate(7em, 5em) scale(0.8);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    0.25% {
        translate: (5.5em, 6.8em) scale(0.8);
        animation-timing-function: ease-out;
        opacity: 0;
    }
    2.35% {
        translate: (5.5em, 6.6em) scale(0.8);
        animation-timing-function: ease-in;
        opacity: .5;
    }
    2.45% {
        translate: (5.5em, 6.8em) scale(0.8);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    2.65% {
        translate: (5.5em, 6.7em) scale(0.8);
        animation-timing-function: ease-out;
    }
    2.85% {
        transform: translate(5.5em, 7.7em) scale(.8);
        animation-timing-function: ease-out;
    }
    2.75% {
        transform: translate(5.5em, 7.3em) scale(.8);
        animation-timing-function: ease-in;
    }
    3.6% {
        transform: translate(5.5em, 7.7em) scale(.8);
        animation-timing-function: ease-out;
    }
    4.05% {
        transform: translate(5.5em, 7.4em) scale(.8);
        animation-timing-function: ease-in;
    }
    4.5% {
        transform: translate(5.5em, 7.7em) scale(.8);
        animation-timing-function: ease-out;
    }
    4.75% {
        transform: translate(5.5em, 7.6em) scale(.8);
        animation-timing-function: ease-in;
    }
    5%,
    10.5% {
        transform: translate(5.5em, 7.7em) scale(0.8);
        animation-timing-function: ease-out;
    }   
}

@keyframes left-squirrel-goes-up {
    0% {
      transform: translate(3em, 8em) scale(.8);
      opacity: 1;
    }
    70% {
      opacity: .4;
    }
    100% {
      transform: translate(3.5em, 6.3em) scale(.7) rotate(10deg);
      opacity: 0;
    }
  }

@keyframes left-squirrel-show {
    /* starting 5% past where right squirrel left (no pun intended) that equals 1s. (bc both animations are 
    within 20s period I can follow the % keyframe of the animation 'right-squirrel-goes-up'*/
    0% {
                transform: translate(3em, 6.3em) scale(.8);
                animation-timing-function: ease-in;
                opacity: 0;
    }
    38% {
                transform: translate(3em, 8em) scale(.8);
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
                transform: translate(3em, 7.6em) scale(.8);
                animation-timing-function: ease-in;
    }
    72% {
                transform: translate(3em, 8em) scale(.8);
                animation-timing-function: ease-out;
    }
    81% {
                transform: translate(3em, 7.7em) scale(.8);
                animation-timing-function: ease-in;
    }
    90% {
                transform: translate(3em, 8em) scale(.8);
                animation-timing-function: ease-out;
    }
    95% {
                transform: translate(3em, 7.9em) scale(.8);
                animation-timing-function: ease-in;
    }
    100% {
                transform: translate(3em, 8em) scale(.8);
                animation-timing-function: ease-out;
    }      
}

@keyframes tree-bushes-motion {
    0%,
    10% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
    }
    1% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }
    2%,
    4%,
    6% {
        -webkit-transform: rotate(-4deg);
                transform: rotate(-4deg);
    }
    3%,
    5%,
    7% {
        -webkit-transform: rotate(4deg);
                transform: rotate(4deg);
    }
    8% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }
    9% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }
    100% {
    -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

@keyframes leaf-motion {
    20% {
        transform: rotate(0deg) scale(1);
    }
    40% {
        transform: rotate(10deg) scale(1.5); 
    }
    80% {
        transform: rotate(0deg) scale(1);
    }
}
@keyframes leaf-falling {
    10% {
        transform: translate(10vw, -20vw);
        opacity: 0;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    80% {
        transform: translate(10vw, 30vw);
        opacity:0;
    }
}