// font-family: 'Cormorant', serif;
// font-family: 'Kadwa', serif;
// font-family: 'Martel', serif;
h1 {
    font-family: 'Cormorant', serif;
    font-weight: bold;
    color: #b1a2a2;
}
 a {
    font-family: 'Kadwa', serif;
    font-weight: bold;
    color: #b1a2a2;
 }