// font-family: 'Cormorant', serif;
// font-family: 'Kadwa', serif;
// font-family: 'Martel', serif;
text {
    font-family: 'Kadwa', serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.position-portfolio {
    font-family: 'Cormorant', serif;
}

 a {
    font-family: 'Kadwa', serif;
    font-weight: bold;
 }
